
@keyframes fadeIn {
  from {opacity:0}
  to {opacity:1}
}

@keyframes easeDown {
  from {top: -100px}
  to {top: 0vh}
}






body {
  animation: fadeIn 1.5s;
  background-color: #e5d3b3;
}

.link {
  transition: 0.4;
  color:#664229;
  text-decoration: none;
}

.link:hover {
  transition: 0.5;
  color: white;
}



nav {
  height: 80px;
  background-color: #b99976;
  animation: easeDown 1s;
}

.search {
  background-color: #e5d3b3;
  border-color: #745e4f;
}

.button {
  transition: 0.4s;
  background-color: transparent;
  border-color: #664229;
  border-width: 1px;
  border-radius: 5px;
  padding: 7px 12px 7px 12px;
}

.button:hover {
  transition: 0.5s;
  background-color: #a78765;
  color: white;
}

img.logo {
  max-width: 400px;
}

.center {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
}





